@import "tailwindcss";

@theme {
  --color-fondo: #3b1d2a;
  --color-cartas: #f9f5d4;
  --color-fondoRojo: #db3a34;
  --color-fondoAzul: #40e3ed;
  --color-fondoNegro: #13171b;
  --color-fuerteRojo: #b3261e;
  --color-fuerteAzul: #5eafbf;
  --color-chat: #d9d9d9;
}

body {
  height: 100dvh;
  width: 100dvw;
}

#root {
  height: 100%;
  width: 100%;
}

.minimapa__cell__red {
  background-color: var(--color-fuerteRojo);
}

.minimapa__cell__blue {
  background-color: var(--color-fuerteAzul);
}

.minimapa__cell__empty {
  background-color: var(--color-cartas);
}

.minimapa__cell__black {
  background-color: #000000;
}
